@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
a:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header-container {
  height: 70px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mainHead {
  margin-right: 30px;
}

.aboutHead {
  margin-right: 30px;
}

.callHead {
  margin-right: 30px;
}

.mapHead {
  margin-right: 30px;
}

.header {
  height: 70px;
  background-color: #499167;
}

.header a {
  font-size: 20pt;
  color: white;
  font-family: Open Sans;
  -webkit-text-decoration: underline solid transparent;
          text-decoration: underline solid transparent;
  -webkit-transition: -webkit-text-decoration 0.3s ease;
  transition: -webkit-text-decoration 0.3s ease;
  -o-transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}

.header a:hover {
  text-decoration: underline;
}

.mainScreen {
  height: 100vh;
  background-image: url(../img/MainScreen.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Open Sans;
}

.mainScreen h1 {
  font-size: 35pt;
}

.mainScreen h2 {
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 35px;
}

.mainScreen a {
  border: 3px solid white;
  padding: 15px;
  font-size: 15pt;
  color: white;
}

.mainText a:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.mainText {
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.aboutTop {
  font-family: Open Sans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: disc;
}

.aboutTop .aboutText {
  width: 50%;
}

.aboutTop .aboutText h1 {
  font-size: 30pt;
  margin: 20px 0 20px 0;
}

.aboutTop .aboutText p {
  font-size: 15pt;
  margin-top: 10px;
}

.aboutTop .aboutText ul {
  font-size: 15pt;
}

.aboutTop .Gallary {
  width: 50%;
}

.aboutUs {
  background-color: #CED3DC;
}

.Gallary {
  position: relative;
  height: 400px;
  margin-top: 20px;
  background-color: white;
  margin-bottom: 100px;
}

.Gallary .rec_logo img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Gallary .slider {
  width: 100%;
  overflow: hidden;
}

.Gallary .slider .bar {
  margin: 6px;
  height: 8px;
  width: 30px;
  cursor: pointer;
  background-color: #A31621;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 5px 0;
}

.Gallary .slider .bar:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.Gallary .slide {
  background-color: white;
}

.navigation {
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides {
  overflow: hidden;
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  overflow: hidden;
  width: 25%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

.aboutBuy a {
  border: 3px solid black;
  padding: 15px;
  font-size: 15pt;
  color: black;
}

.aboutBuy a:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#aboutBuy {
  margin-bottom: 50px;
}

.mapWrapper {
  height: 800px;
  background-color: #CED3DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactiveMap {
  height: 800px;
  width: 570px;
  background-color: #CED3DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.marker {
  height: 20px;
  width: 20px;
  background: #240000;
  background: -o-radial-gradient(circle, #240000 0%, rgba(255, 0, 0, 0.8071603641) 100%);
  background: radial-gradient(circle, #240000 0%, rgba(255, 0, 0, 0.8071603641) 100%);
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

#marker1 {
  top: 540px;
  right: 305px;
}

#marker2 {
  right: 155px;
  top: 485px;
}

#marker3 {
  right: 162px;
  top: 440px;
}

#marker4 {
  right: 158px;
  top: 398px;
}

#marker5 {
  top: 650px;
  left: 130px;
}

#marker6 {
  top: 580px;
  left: 115px;
}

#marker7 {
  left: 82px;
  bottom: 80px;
}

#marker8 {
  left: 288px;
  top: 460px;
}

#marker9 {
  right: 100px;
  top: 100px;
}

#marker10 {
  right: 130px;
  top: 350px;
}

.popup {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup .popupBody {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup .popupBody .popupContent {
  font-family: Open Sans;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 95vh;
  min-height: 70vh;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid white;
  color: white;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.popup .popupBody .popupContent .popupTitle {
  font-size: 35pt;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  z-index: 1;
}

.popup .popupBody .popupContent .popupText {
  font-size: 15pt;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.popup .popupBody .popupContent .popupClose {
  color: white;
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: Open Sans;
  font-size: 40pt;
  z-index: 1;
}

.popup .popupBody .popupContent::after {
  content: "";
  background-color: rgba(163, 22, 33, 0.5);
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup .popupBody .popupContent:hover::after {
  background-color: transparent;
}

.popup .popupBody .popupContent:hover {
  color: transparent;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popupContent {
  opacity: 1;
}

.emptyPop {
  position: fixed;
  top: 0;
  left: 0;
}

.footer {
  border-top: 2px solid gray;
  background-color: #CED3DC;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footerWrapper {
  margin-left: 30vh;
  margin-right: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10pt;
}

.footer .footerWrapper .contact {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footerWrapper .disclaimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.popupBuy {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popupBuy .popupBuyBody {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popupBuy .popupBuyBody .popupBuyContent {
  font-family: Open Sans;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 70vh;
  width: 90vh;
  border: 2px solid white;
  color: black;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  background-image: url(../img/buyTourBackgroundjpg.jpg);
}

.popupBuy .popupBuyBody .popupBuyContent .buyButton {
  margin-top: 40px;
}

.popupBuy .popupBuyBody .popupBuyContent #a {
  border: 3px solid black;
  padding: 15px;
  font-size: 15pt;
  color: black;
}

.popupBuy .popupBuyBody .popupBuyContent #a:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.popupBuy .popupBuyBody .popupBuyContent .popupBuyTitle {
  font-size: 35pt;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  z-index: 1;
}

.popupBuy .popupBuyBody .popupBuyContent .popupBuyText {
  text-align: center;
  z-index: 1;
}

.popupBuy .popupBuyBody .popupBuyContent .popupBuyText textarea {
  font-size: 20pt;
  margin-right: 30px;
  outline: none;
  border: 3px solid #CED3DC;
  resize: none;
  height: 40px;
}

.popupBuy .popupBuyBody .popupBuyContent .popupBuyAttencion {
  font-size: 13pt;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.popupBuy .popupBuyBody .popupBuyContent .popupBuyClose {
  color: black;
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: Open Sans;
  font-size: 40pt;
  z-index: 1;
}

.popupBuy:target {
  opacity: 1;
  visibility: visible;
}

.popupBuy:target .popupBuyContent {
  opacity: 1;
}

#mark1 li {
  margin-left: 20px;
}

#contentMark1 {
  background-image: url(../img/mark1.webp);
}

#contentMark2 {
  background-image: url(../img/mark2.webp);
}

#contentMark3 {
  background-image: url(../img/mark3.webp);
}

#contentMark4 {
  background-image: url(../img/mark4.webp);
}

#contentMark5 {
  background-image: url(../img/mark5.webp);
}

#contentMark6 {
  background-image: url(../img/mark6.webp);
}

#contentMark7 {
  background-image: url(../img/mark7.webp);
}

#contentMark8 {
  background-image: url(../img/mark8.webp);
}

#contentMark9 {
  background-image: url(../img/mark9.webp);
}

#contentMark10 {
  background-image: url(../img/mark10.webp);
}

@media screen and (max-width: 1107px) {
  .header-container {
    width: 768px;
    height: 80px;
  }

  .header {
    height: 80px;
  }

  .aboutTop {
    text-align: center;
    width: 768px;
    display: block;
  }

  .aboutTop ul {
    list-style-type: none;
  }

  .aboutTop .aboutText {
    width: 100%;
  }

  .aboutTop .Gallary {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 80%;
  }

  .aboutTop p {
    padding: 10px;
  }

  .container {
    background-color: #CED3DC;
  }

  .mainText {
    width: 768px;
  }

  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 60px;
  }
}

@media screen and (max-width: 780px) {
  .header-container {
    width: 425px;
    height: 150px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75px 75px;
  }

  .header {
    text-align: center;
    height: 150px;
  }

  .mainHead {
    text-align: center;
  }

  .aboutHead {
    text-align: center;
  }

  .callHead {
    text-align: center;
  }

  .mapHead {
    text-align: center;
  }

  .aboutTop {
    text-align: center;
    width: 425px;
    display: block;
  }

  .aboutTop ul {
    list-style-type: none;
  }

  .aboutTop .aboutText {
    width: 100%;
  }

  .aboutTop .Gallary {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 80%;
  }

  .aboutTop p {
    padding: 10px;
  }

  .container {
    background-color: #CED3DC;
  }

  .mainText {
    width: 425px;
  }

  .footer {
    padding: 10px;
  }

  .mapWrapper {
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width: 430px) {
  .Gallary {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 70%;
  }

  .header-container {
    width: 370px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mainText {
    width: 370px;
  }

  .aboutTop {
    width: 370px;
  }

  .footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 60px;
  }

  .footerWrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .footerWrapper .contact {
    margin-right: 10px;
  }

  .footerWrapper .disclaimer {
    margin-left: 10px;
  }

  .popupBuyTitle h1 {
    font-size: 20pt;
  }

  .popupText {
    font-size: 10pt;
  }

  .popupBuyBody {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.webp .popupBuy .popupBuyBody .popupBuyContent{ background-image: url(../img/buyTourBackgroundjpg.webp); }