@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*----------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
a:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header-container {
  height: 70px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.mainHead {
  margin-right: 30px;
}

.aboutHead {
  margin-right: 30px;
}

.callHead {
  margin-right: 30px;
}

.mapHead {
  margin-right: 30px;
}

.header {
  height: 70px;
  background-color: #499167;
  z-index: 1;
}

.header a {
  font-size: 20pt;
  color: white;
  font-family: Open Sans;
  -webkit-text-decoration: underline solid transparent;
          text-decoration: underline solid transparent;
  -webkit-transition: -webkit-text-decoration 0.3s ease;
  transition: -webkit-text-decoration 0.3s ease;
  -o-transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease;
  transition: text-decoration 0.3s ease, -webkit-text-decoration 0.3s ease;
}

.header a:hover {
  text-decoration: underline;
}

.mainScreen {
  height: 100vh;
  background-image: url(/img/MainScreen.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Open Sans;
}

.mainScreen h1 {
  font-size: 35pt;
}

.mainScreen h2 {
  font-size: 20pt;
  margin-top: 20px;
  margin-bottom: 35px;
}

.mainScreen a {
  border: 3px solid white;
  padding: 15px;
  font-size: 15pt;
  color: white;
}

.mainText a:hover {
  background-color: white;
  color: black;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.mainText {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.aboutTop {
  font-family: Open Sans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: disc;
}

.aboutTop .aboutText {
  width: 50%;
}

.aboutTop .aboutText h1 {
  font-size: 30pt;
  margin: 20px 0 20px 0;
}

.aboutTop .aboutText p {
  font-size: 15pt;
  margin-top: 10px;
}

.aboutTop .aboutText ul {
  font-size: 15pt;
}

.aboutTop .Gallary {
  width: 50%;
}

.aboutUs {
  background-color: #CED3DC;
}

.Gallary {
  position: relative;
  height: 400px;
  margin-top: 20px;
  background-color: white;
  margin-bottom: 100px;
}

.Gallary .rec_logo img {
  height: 400px;
  width: auto;
}

.Gallary .slider {
  width: 100%;
  overflow: hidden;
}

.Gallary .slider .bar {
  margin: 6px;
  height: 8px;
  width: 30px;
  cursor: pointer;
  background-color: #A31621;
  opacity: 0.5;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 5px 0;
}

.Gallary .slider .bar:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.Gallary .slide {
  background-color: white;
}

.navigation {
  position: absolute;
  bottom: -27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides {
  overflow: hidden;
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  overflow: hidden;
  width: 25%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

#r1:checked ~ .s1 {
  margin-left: 0%;
}

#r2:checked ~ .s1 {
  margin-left: -25%;
}

#r3:checked ~ .s1 {
  margin-left: -50%;
}

#r4:checked ~ .s1 {
  margin-left: -75%;
}

input[name=r] {
  position: absolute;
  visibility: hidden;
}

.aboutBuy a {
  border: 3px solid black;
  padding: 15px;
  font-size: 15pt;
  color: black;
}

.aboutBuy a:hover {
  background-color: black;
  color: white;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-delay: 0.05s;
       -o-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

#aboutBuy {
  margin-bottom: 50px;
}

.interactiveMap {
  height: 100vh;
}